@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-RgIt.woff2") format("woff2"),
    url("GTAmericaTrial-RgIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-LtIt.woff2") format("woff2"),
    url("GTAmericaTrial-LtIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-ULtIt.woff2") format("woff2"),
    url("GTAmericaTrial-ULtIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-BlIt.woff2") format("woff2"),
    url("GTAmericaTrial-BlIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-ThIt.woff2") format("woff2"),
    url("GTAmericaTrial-ThIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-BdIt.woff2") format("woff2"),
    url("GTAmericaTrial-BdIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-MdIt.woff2") format("woff2"),
    url("GTAmericaTrial-MdIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Bd.woff2") format("woff2"),
    url("GTAmericaTrial-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Bl.woff2") format("woff2"),
    url("GTAmericaTrial-Bl.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Lt.woff2") format("woff2"),
    url("GTAmericaTrial-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Th.woff2") format("woff2"),
    url("GTAmericaTrial-Th.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Md.woff2") format("woff2"),
    url("GTAmericaTrial-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-Rg.woff2") format("woff2"),
    url("GTAmericaTrial-Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("GTAmericaTrial-ULt.woff2") format("woff2"),
    url("GTAmericaTrial-ULt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
